@charset "utf-8";

.wrap {
    position: relative;
    max-width: 1200px;
    clear: both;
    margin: 0 auto;
}


.logobox{
    margin: 0 auto;
    width: 110px;
}

/* head 우상단 */

.headright{
    position: absolute;
    right: 0;
    width: 40%;
    margin-right: 120px;
}

.smilenickname{
    margin: 0 auto;
}

.btn > button{
    float: left;
    margin: 0 auto;
}

.btm::after{
    clear: both;
}