button{

    text-align: left;
    width: 120px;
    height: 40px;

    background-color: transparent;
    color: gray;


    border: none;

    margin-top: 10px;
    margin-right: 5px;

    font-weight: bold;
    transition-duration: 0.5s;
}
button:hover {
    text-align: center;
    border-radius: 15px;
    border: 1px solid white;

    background-color: dodgerblue;
    transition-duration: 0.5s;
    color: white;
}

/* 상위 헤더 버튼 */
.btn{
    display: flex;
    justify-content: flex-end;
    align-items: center;
}


.btn > button {
    text-align: center;
    width: 135px;
    height: 40px;

    background-color: transparent;
    color: lightgray;

    border-radius: 25px;
    border: 2px solid lightgray;

    margin-top: 10px;
    margin-right: 5px;

    font-weight: bold;
    transition-duration: 0.5s;

}

.btn > button:hover {
    border: 2px solid white;
    background-color: dodgerblue;
    transition-duration: 0.5s;
    color: white;
}