* {margin:0;padding:0;
    font-family: 'Stylish', sans-serif;}


/* 슬라이드 배너 섹션 */
.section{
    margin: 0 auto;
    width: 65%;
    max-height: 700px;
    border-radius: 15px;
    padding: 250px 15px 15px 15px;
    display: flex;
    justify-content: center;
    align-items: center;
    /*background-color: rgba(240, 240, 240, 0.4);*/
}
/* INPUT 가리기 */
.section input[id*="slide"] {display:none;}

/* 슬라이드 영역 - max-width 크기를 조절해주면 됩니다*/
.section .slidewrap{
    border-radius: 15px;
    width: 1200px;
    height: 600px;
    margin: 0 auto;
    overflow: hidden;
}
.section .slidelist{
    padding: 0px;
    height: 600px;
    white-space: nowrap;
    font-size: 0;
}
.section .slidelist > li{
    height: 600px;
    display: inline-block;
    vertical-align: middle;
    width: 100%;
    transition: all .5s;
}
.section .slidelist > li > a{
    height: 600px;
    display: block;
    position: relative;}

.section .slidelist > li > a img{
    width: 100%;
    object-fit: cover;
}

/* 좌우로 넘기는 LABEL버튼에 대한 스타일 */
.section .slidelist label {
    position: absolute;
    z-index: 1;
    top: 52%;
    transform: translateY(-50%);
    padding: 50px;
    cursor: pointer;
}

.section .slidelist .left {
    left: 0;
    background: url('../static/img/left.png') center center / 100% no-repeat;
}

.section .slidelist .right {
    right: 0;
    background: url('../static/img/right.png') center center / 100% no-repeat;
}

/* INPUT 체크되면 변화값이 li까지 전달되는 스타일 */
.section input[id="slide01"]:checked ~ .slidewrap .slidelist > li {
    transform: translateX(0%);
}

.section input[id="slide02"]:checked ~ .slidewrap .slidelist > li {
    transform: translateX(-100%);
}

.section input[id="slide03"]:checked ~ .slidewrap .slidelist > li {
    transform: translateX(-200%);
}

.col{
    padding-right: 0;
    border-radius: 15px;
}

.col:hover{
    box-shadow: 8px 7px 1px rgba(0, 0, 0, 0.2);
}

/* 포스팅 카드 너비조절 */
.mycards {
    border-radius: 15px;
    padding: 30px;
    margin: 20px auto 0px auto;
    max-width: 65%;
    /*background-color: rgba(240, 240, 240, 0.4);*/
}

.bottom{
    margin-top: 150px;
    height: 200px;
}


