<!DOCTYPE html>
<html lang="en">
<head>
    <title>상세페이지</title>
{#    icon 설정#}
    <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0/css/all.min.css" rel="stylesheet">

    <script>
        function delete_post(){
            $.ajax({
                    type: "POST",
                    url: `/delete_post`,
                    data: {
                        num_give: "{{ num }}"
                    },
                    success: function (response) {
                        alert(response["msg"])
                        window.location.href = "/"
                    }
                });
        }

        function update_post(num){





            window.location.href = "/update_post/"+num
        }

        function toggle_like(num){
            console.log(num)
            let $a_like = $(`a[aria-label='heart']`)
            let $i_like = $a_like.find("i")


            if($i_like.hasClass("fa-solid")){
                $.ajax({
                    type: "POST",
                    url: "/update_like",
                    data: {
                        num_give: num,
                        action_give: "unlike"
                    },
                    success: function (response) {
                        console.log("unlike")
                        $i_like.addClass('fa-regular').removeClass('fa-solid')
                        $a_like.find("span.like-num").text(response["count"])
                    }
                })
            }else{
                 $.ajax({
                    type: "POST",
                    url: "/update_like",
                    data: {
                        num_give: num,
                        action_give: "like"
                    },
                    success: function (response) {
                        console.log("like")
                        $i_like.addClass("fa-solid").removeClass("fa-regular")
                        $a_like.find("span.like-num").text(response["count"])
                    }
                })
            }
        }

    </script>
</head>
<body>
{% include('head.html') %}
<div class="content">
    <div class="wrap">
        <div class="single-page">
            <div class="single-page-artical">
                <div class="artical-content">
                    <img src="../static/userImg/{{ post.file }}" title="banner1">
                    <h2>{{ post.title }}</h2>
                    <p>{{ post.content }}</p>
                </div>
                <div class="artical-links">
                    <ul>
                        <li><a onclick="toggle_like({{ post.num }})", aria-label="heart">
                                {% if heart.heart_by_me == True %}
                                <i class="fa-solid fa-heart" aria-hidden="true"></i>&nbsp;
                                {% else %}
                                <i class="fa-regular fa-heart" aria-hidden="true"></i>
                                {% endif %}
                                <span class="like-num">{{ heart.count_heart }}</span>
                            </a>
                        </li>
                    </ul>
                </div>
                {% if status %}
                <div class="share-artical">
                    <ul>
                        <li><a onclick="update_post({{ post.num }})"><i class="fa-solid fa-pen">수정</i></li>
                        <li><a onclick="delete_post()"><img src="../static/img/twiter.png" title="Twitter">삭제</a></li>
                    </ul>
                </div>
                {% endif %}
                <div class="clear"></div>
            </div>

        </div>
    </div>
</div>
</body>
</html>