<!DOCTYPE html>
<html lang="en">
<head>
    <title>상세페이지</title>
{#    icon 설정#}
    <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0/css/all.min.css" rel="stylesheet">
{#    javascript 연결#}
    <script src="../static/js/ObjectView.js"></script>
</head>
<body>
{% include('head.html') %}
<div class="content">
    <div class="wrap">
        <div class="single-page">
            <div class="single-page-artical">
                <div class="artical-content">
                    <img src="../static/userImg/{{ post.file }}" title="banner1">
                    <h2 style="font-size: xxx-large">{{ post.title }}</h2>
                    <pre style="font-size: x-large; padding: inherit; background-color: transparent;">{{ post.content }}</pre>
                </div>
                <div class="artical-links">
                    <ul style="margin: revert">
                        <li><a onclick="toggle_like({{ post.num }})", aria-label="heart" style="padding: inherit; font-size: x-large">
                                {% if heart.heart_by_me == True %}
                                <i class="fa-solid fa-heart" aria-hidden="true"></i>&nbsp;
                                {% else %}
                                <i class="fa-regular fa-heart" aria-hidden="true"></i>
                                {% endif %}
                                <span class="like-num">{{ heart.count_heart }}</span>
                            </a>
                        </li>
                    </ul>
                </div>
                {% if status %}
                <div class="share-artical">
                    <ul>

                        <li><a onclick="update_post({{ post.num }})" style="font-size: x-large"><i class="fa-solid fa-pencil"></i>&nbsp;수정</a></li>
                        <li><a onclick="delete_post()" style="font-size: x-large"><i class="fa-solid fa-trash-can"></i>&nbsp;삭제</a></li>

                    </ul>
                </div>
                {% endif %}
                <div class="clear"></div>
            </div>

        </div>
    </div>
</div>
</body>
</html>